
<img src="assets/images/ahmad.png" alt="ahmad personal picture"style="float: right;">
<br><br><h3>Ahmad Hajirahimi</h4> <br>
<h3>Student#: 301180926</h4> <br>
<h3>Software Engineering Technician</h4> <br>
<h3>Centennial College</h4> <br>
I am a third-semester student of software engineering technician at centennial college<br>
I have a bachelor's of since in mechanical engineering and used to be a mechanical design engineer. <br>
during the pandemic when I lost my job, I used this opportunity to start my college education and follow my dream job as a software develeoper.<br><br>
please have look into <a href="assets/files/resume.docx">my resume</a> . Thank you!
