<br>
<h2>Please fill the form</h2>
<form>
<table style="width: 90%">
	<tr>
		<td class="leftColumn">First Name:</td>
		<td>
		
			<input required="required" name="firstName" size="25" tabindex="1" type="text">
		</td>
	</tr>
	<tr>
		<td class="leftColumn">Last Name:</td>
		<td>
		
			<input required="required" name="lastName" tabindex="2" type="text" size="25">
		</td>
	</tr>
	<tr>
		<td class="leftColumn">Email:</td>
		<td>
		
			<input required="required" placeholder="Example@Gmail.com" name="email" size="40" tabindex="3" type="text">
		</td>
	</tr>
	<tr>
		<td class="leftColumn">Phone:</td>
		<td>
					<input name="phoneNumber" tabindex="4" type="text">
		</td>
	</tr>
		
	<tr>
		<td class="leftColumn">Message:</td>
		<td>
		
			<textarea cols="50" name="txtMessage" rows="9" tabindex="14">tell us what you have in mind! </textarea>
		</td>
	</tr>
	<tr>
		<td class="leftColumn">
			<input name="Send" tabindex="15" type="submit" value="Send">
			<a href="/">
		</td>
		<td>
			<input name="Clear Form" tabindex="16" type="reset" value="Clear Form">
		</td>
	</tr>
	</table>
	</form>