 <br><br><h3>Mission Statement</h3> <br>
<p>A talented software engineer student very enthusiastic about Software development and network. <br>
I am interested in working for a company where I can grow. <br>
As we move to the future, I will be proud to be part of the software development team to make life easier for all people<br><br>

I would like to invite you to visit <a href="/about">click here</a> to know more about me. </p>

