<br><table>
                <tr>
                    <td><img src="assets/images/project01.jpeg" height="100px"></td>
                    <td>
                        <h5>Emergency Mobile App</h5><br>
                        <p>an emrgeny app help disabled people to call for help.
                        <br>
                        My Role: Creator and developer</p>
                    </td>
                </tr>
                <tr>
                    <td><img src="assets/images/project02.jpeg" height="100px"></td>
                    <td>
                        <h5>Centennial-Career App</h5><br>
                        <p>an app help student find the jon filed of interset based on their interest and college marks.
                        <br>
                        My Role: Creator and developer</p>
                    </td>
                </tr>
                <tr>
                    <td><img src="assets/images/project03.jpeg" height="100px"></td>
                    <td>
                        <h5>Rospina.com</h5><br>
                       <p>A cosmetic products web page.
                        <br>
                        My Role: Design the webpage</p>
                    </td>
                </tr>
            </table>
        </div>