<br>
<ul style="list-style-image:url(assets/images/bp.gif)">
<li><h5>Software testing<h5></li>
<li><h5>Website design<h5></li>
<li><h5>SQL development<h5></li>
<li><h5>Software project management<h5></li>
